/* Dashboard.css */
.dashboard {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #222;
    color: #fff;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main {
    flex: 1;
    display: flex;
}


.content {
    flex: 1;
    padding: 1rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    width: 200px;
    /* margin: 1rem;
    padding: 1rem; */
    border: 1px solid #ddd;
    text-align: center;
}



/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {


    .content {
        padding: 0;
    }

    .cards {
        margin-bottom: 1rem;
    }
}